@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Centering */
body {
    margin: 0
}

nav {
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  align-items: center;
}

header > *, main > *, footer > * {
  margin: 0 auto;
  max-width: 1280px;
  padding:0 2em;
}

/* Bit of padding for main content */
header, main, footer {
    padding: 1em;
}

.site-splash {
	background-color: #CCC;
	background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    height:500px;
    position:relative;
}

.splash-text {
    padding: 0 0.5em;
    color: #FFF;
    font-size: 76px;
    font-weight: 500;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 4.5em;
    line-height: 0.9em;
    text-shadow: 2px 0px 15px rgb(107, 107, 107);
}

.splash-event {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-top: 3em;
}

.splash-event.register {
	padding-left:3.5em;
}

.splash-event.register a {
	display: block;
    text-decoration: none;
    text-align: center;
    width: 400px;
    border: 1px solid;
    padding: 10px 0;
    border-radius: 14px;
}

.splash-event.register a:hover {
	background-color:#e81c4f;
	color:#fff;
}

.event-title {
    font-size: 30px;
    padding: 20px 0;
    font-weight: 100;
}

.event-name {
    font-size: 34px;
    line-height: 0.9em;
    padding-bottom:10px;
}

.event-info {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5em;
    font-size: 20px;
}

/* Font family */
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Spacing */
body {
  line-height: 1.5;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/* Colour and contrast */
body {
  color: #555;
}

body {
  background: white;
}

strong {
    font-weight: 500;
}

header {
    background: black;
    color: white;
}

header a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
}  

header a:hover {
	color:#fff;
}

a.site-logo {
    display: block;
    font-size: 10px;
    margin: 0;
}

a.site-logo img {
    height: 6em;
}

p {
    font-size: 24px;
    font-weight: 100;
}

h1,
h2,
strong {
  color: #333;
}

h1 {
    font-size: 2em;
    font-weight:500;
}

h2, h3, h4, h5 {
    font-size: 1em;
}

/* Balance */
code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/* Primary colour */
a {
  color: #e81c4f;
}

/* Secondary colours */
body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

/* Navigation */

nav ul, footer ul {
    padding: 0px;
	margin:0;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
}
nav ul li, footer ul li {
    padding-right: 1em;
    font-size: 22px;
    display: block;
    list-style-type: none;
    white-space: nowrap;
}
nav ul li:last-of-type, footer ul li:last-of-type {
    padding-right: 0;
}



nav ul li.logo {
    display: block;
    margin-bottom: 1em;
} 
 nav ul .logo img {
     height: 6em;
 }
 
 nav ul {
     margin: 0;
 }

.article_wrap {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
    flex-wrap: wrap;
}
 
 /*Some default max sizes to prevent mobile view from stretching */
 section img {
   max-width: 80vw;
 }
 
 section iframe {
   max-width: 90vw;
 }

 /* A class to hide stuff if on a touch device*/
 pre { white-space:pre-wrap; word-wrap:break-word; overflow:auto; }
 
 .touch .touch-hidden {
     display: none;
 }

/* Mentors page */
img[alt^="Picture of"] {
	display:inline-block;
	vertical-align:middle;
}

span.mentor-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding-left: 2em;
}

/* Blog list */
article {
    padding: 2em;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 1em;
    background-color: #fafafa;
    box-shadow: 0 4px 10px rgba(224, 224, 224, 0.6);
}

article:nth-of-type(even) {
    margin-left: 3%;
}

article p {
    max-height: 110px;
    overflow: hidden;
}

article time {
    display: inline-block;
    vertical-align: top;
    color: #a0a0a0;
    width:50%;
}

a.post-title {
    font-size: 26px;
    text-decoration: none;
    color: #566b78;
    line-height: 0.9em;
}

a.post-more {
	display: inline-block;
    vertical-align: top;
	text-align: right;
	width:50%;
}


/* Reduce padding for very small screens */
@media only screen and (max-device-width: 768px) {
	header > *, main > *, footer > * {
		padding:0 1em;
	}
    header, main, footer {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    nav, nav ul {
		display:initial;
		padding:0;
	}
	h1, .event-title, .event-name {
		font-size:18px;
	}
	.event-info {
		font-size:16px;
	}
	.splash-event {
		width:100%;
		margin-top: 0;
	}
	.splash-event.register {
		padding-left:0;
	}
	.splash-event.register a {
		width:100%;
	}
	header a {
		text-align:center;
		margin:0 auto;
		padding:0;
	}
	nav ul li, footer ul li {
		padding:0;
		font-size:16px;
	}
	a.site-logo {
		padding-bottom:10px;
	}
	p {
		font-size:16px;
	}
	.splash-text {
		font-size:30px;
	}
	.site-splash {
		height:200px;
	}
	article {
		width:100%;
	}
	article:nth-of-type(even) {
		margin-left:0;
	}
	article p {
		max-height:initial;
	}
	img[alt^="Picture of"], span.mentor-text {
		width:100%;
		display:block;
		padding: 0;
		padding-bottom: 10px;
	}
}

@media only screen and (min-device-width: 768px) {
	nav, nav ul {
		display:flex;
		padding:0;
	}
	nav ul li, footer ul li, nav ul li:last-of-type, footer ul li:last-of-type {
		padding-right: 1em;
    }
    img[alt^="Picture of"] {
		display: inline-block; width:initial;
    }
    span.mentor-text {
		display: inline-block;
		vertical-align: middle;
		width: 65%;
		padding-left: 2em;
		padding-bottom:0;
	}
}
