---
layout: default
title: Blog
image: dojo-00
---

<div class="article_wrap">
{% for post in paginator.posts %}
<article>
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
    {{ post.excerpt | markdownify }} 
    {% capture content_words %} 
      {{ post.content | number_of_words }} 
    {% endcapture %} 
    {% capture excerpt_words %} 
      {{ post.excerpt | number_of_words }} 
    {% endcapture %} 
    {% if excerpt_words != content_words %}
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time><a class="post-more" href="{{ post.url }}">Read more</a>
    {% endif %}
</article>
{% endfor %} 
</div>
{% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous page</a>
    {% endif %} 
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page &rarr;</a>
    {% endif %}
{% endif %}
