<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bradford CoderDojo - {{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Bradford's free computer programming club for young people" />
        	<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
        <script>
            document.documentElement.className += 
            (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
        </script>
        <header>
            <nav>
                <ul>
                    <li class="logo" aria-hidden="true"><a href="/" aria-label="Homepage"><img src="/assets/website/logo.svg" alt="Bradford CoderDojo Logo"/></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/mentors">Mentors</a></li>
                    <li><a href="/test">Plans</a></li>
                </ul>
            </nav>
        </header><main><section>
          {{ content }}
        </section></main>
        <footer>
        </footer>
	</body>
</html>
